*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    height: 50px;
    background-color: #555;
}
.slider{
    flex: 1;
    background-color: #AAA;
    overflow: hidden;
}
.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0 1px 1px #333;
    font-size: 50px;
}
.slider--controls{
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control{
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    overflow: hidden;
    cursor: pointer;
}